*{
padding: 0;
margin: 0;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/*untuk header*/
header{
    background-color: rgb(251, 255, 0);
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 25px;
    box-sizing: border-box; 

}
header h1{
     padding: 20px 0px;
}
/* navbar 8 */
ul{
    list-style: none;
    width :100%;
    overflow: hidden;
    background-color: #ff8c00;
    position: sticky;
}

li {
    float:left;
}
li a{
    display: block;
    color :white;
    text-align: center;
    padding: 18px 21px;
    text-decoration: none;

}
li a:hover:not(.active){
    background-color: #717171

}
.active{
    background-color: crimson;
}
li a:hover.active{
background-color: crimson;
}

/*content*/
.content {
display: flex;
flex-direction: row;
margin-top: 30px;
}

article img{
    min-height: 500px;
    width:100% ;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    
}
article p{
    margin-top: 20px;
    text-indent: 20px;
}

article h3{
padding: 10px;
}
article{
    padding:3px;
    box-shadow: 2px 2px 2px black;
    border-radius: 1px;
}   
aside{
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: yellow;
    margin-top: 5px;
}
@media all and (max-width: 1000px){
    ul{
        width : 100;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;

    }
    ul li{
        display:inline-block;
    }
    .content{
        display: flex;
        flex-direction: column;

    }
    aside h3,table{
        text-align: center;
    }
    table{
        margin: auto;
    }
}